In [1]:
#import pymssql
import pandas as pd
import numpy as np
import pyodbc
import datetime as dt

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
import pyodbc
server='datathon.database.windows.net'
database = 'datathon_mssql' 
username = 'datathonuser' 
password = '1qaz@WSX3edc' 
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()

In [12]:
stmt ="""
select top 1000 item_name, count(1) as cnt
from datathon_mssql.dbo.invoice_qmonster with(nolock)
where 1=1
group by item_name
order by count(1) desc
"""

In [13]:
df = pd.read_sql_query(stmt,conn)
df.shape

(1000, 2)

In [6]:
df.iloc[100:199]

Empty DataFrame
Columns: [item_name, cnt]
Index: []

In [7]:
drink = ['台灣純綠', '美式熱咖啡(大)', '珍珠奶茶', '拿鐵熱咖啡(中)', '美式冰咖啡(大)', '優多綠茶', 
         '台灣青茶', '拿鐵冰咖啡(大)', '麥香紅茶ＴＰ３００', '特級綠茶', '四季春青茶-大', '大熟成紅茶', 
         '極品菁茶', '大 四季春茶', '美式熱咖啡(中)', '中熱拿鐵', '古早味紅茶']

In [9]:
import re
r = re.compile("^\*+")
drink_list = list(filter(r.match, df.item_name))  # Note 1

In [10]:
drink_all = drink + drink_list

In [11]:
len(drink_all)

17

In [4]:
drink_stmt="""
select * 
from datathon_mssql.dbo.invoice_qmonster with(nolock)
where 1=1
    and item_name in (N'台灣純綠',
 N'美式熱咖啡(大)',
 N'珍珠奶茶',
 N'拿鐵熱咖啡(中)',
 N'美式冰咖啡(大)',
 N'優多綠茶',
 N'台灣青茶',
 N'拿鐵冰咖啡(大)',
 N'麥香紅茶ＴＰ３００',
 N'特級綠茶',
 N'四季春青茶-大',
 N'大熟成紅茶',
 N'極品菁茶',
 N'大 四季春茶',
 N'美式熱咖啡(中)',
 N'中熱拿鐵',
 N'古早味紅茶',
 N'*統一麥香奶茶TP300',
 N'*統一陽光無加糖高纖豆漿450ml盒',
 N'*PH9.0鹼性離子水PET800',
 N'*統一麥香紅茶TP300',
 N'*茶裏王日式綠茶PET600',
 N'*統一麥香綠茶TP300',
 N'*生活泡沬綠茶TP300',
 N'*台鹽海洋鹼性離子水PET850',
 N'*純喫茶紅茶650ml(盒)',
 N'*統一UNI-WATER純水PET550',
 N'*統一麥香奶茶TP375',
 N'*統一陽光陽光黃金豆豆漿450ml',
 N'*茶裏王白毫烏龍PET600',
 N'*黑松FIN健康補給飲料PET580',
 N'*舒跑運動飲料PET590',
 N'*統一陽光低糖高纖豆漿450ml(盒)',
 N'*純喫茶無糖綠茶650ml(盒)',
 N'*統一麥香紅茶TP375',
 N'*飲冰室茶集綠奶茶400ml(盒)',
 N'*瑞穗全脂鮮乳230ml',
 N'*純喫茶紅茶481ml(盒)',
 N'*茶裏王台式綠茶PET600',
 N'*原萃日式綠茶PET580',
 N'*統一陽光糙米漿450ml(盒)',
 N'*可口可樂PET600.',
 N'*原萃綠茶-玉露PET580',
 N'*瑞穗鮮乳290ml(盒)',
 N'*伯朗咖啡CAN240',
 N'*麥香阿薩姆奶茶PET600',
 N'*御茶園台灣四季春PET550',
 N'*純喫茶綠茶650ml(盒)',
 N'*多喝水PET700',
 N'*養樂多100cc',
 N'*保力達蠻牛維他命B飲料200ml',
 N'*iseLect多多綠茶650ml',
 N'*寶礦力水得PET580',
 N'*飲冰室茶集紅奶茶400ml(盒)',
 N'*iseLect拿鐵咖啡400ml',
 N'*瑞穗鮮乳-全脂鮮乳400ml(盒)',
 N'*養樂多300 LIGHT活菌發酵乳',
 N'*每朝健康-雙纖綠茶PET650',
 N'*每朝健康綠茶PET650',
 N'*Ice Walker冰塊',
 N'*韋恩特濃咖啡CAN320',
 N'*統一木瓜牛奶478ml(盒)',
 N'*純喫茶綠茶481ml(盒)',
 N'*純喫茶鮮柚綠茶650ml(盒)',
 N'*桂格100%喝的燕麥290ml',
 N'*御茶園特撰冰釀綠茶PET550',
 N'*泰山純水PET700',
 N'*麥香錫蘭奶茶PET600',
 N'*純喫茶檸檬紅茶650ml(盒)',
 N'*純喫茶無糖綠茶481ml(盒)',
 N'*貝納頌經典拿鐵咖啡290ml',
 N'*左岸咖啡館奶茶240ml(杯)',
 N'*AB原味優酪乳206ml(瓶)',
 N'*藍山咖啡CAN240',
 N'*愛之味健康油切分解茶PET590',
 N'*AB無加糖優酪乳PE206ml',
 N'*比菲多新纖順暢發酵乳340ml',
 N'*麥香阿薩姆紅茶PET600',
 N'*黑松沙士PET600',
 N'*舒跑鹼性離子水PET850',
 N'*(E)蜜蜂故事館蜂蜜檸檬水',
 N'*金牌啤酒330cc罐',
 N'*(E)蜜蜂故事館蜂蜜水',
 N'*原萃鐵觀音PET580',
 N'*咖啡廣場調合式冰咖啡PET600',
 N'*金牌台灣啤酒500ml罐',
 N'*紅牛能量飲CAN250ml',
 N'*咖啡廣場奶香特調咖啡PET600',
 N'*瑞穗低脂鮮乳290ml(盒)',
 N'*iseLect巧克力奶茶PET550ml',
 N'*(E)福樂鮮攪可可600ml',
 N'*(E)光泉鮮奶豆漿375ml',
 N'*iselect  H2O純水2.2L',
 N'*貝納頌經典曼特寧咖啡290ml',
 N'*可口可樂纖維+PET600',
 N'*瑞穗低脂鮮乳230ml',
 N'*瑞穗巧克力牛奶290ml',
 N'*純萃喝咖啡重乳拿鐵275ml',
 N'*瑞穗蘋果牛奶400ml',
 N'*原萃烏龍茶PET580',
 N'*光泉午后時光重乳奶茶400ml',
 N'*AB無加糖優酪乳PE517ml',
 N'*麒麟霸啤酒500cc罐',
 N'*瑞穗蘋果牛奶290ml',
 N'*瑞穗鮮乳-低脂鮮乳400ml(盒)',
 N'*AB原味優酪乳517ml(瓶)')
"""

In [5]:
df_drink = pd.read_sql_query(drink_stmt,conn)

In [6]:
df_drink.shape

(1063772, 13)

In [7]:
drink_stmt="""
select * 
from datathon_mssql.dbo.invoice_qmonster2 with(nolock)
where 1=1
    and item_name in (N'台灣純綠',
 N'美式熱咖啡(大)',
 N'珍珠奶茶',
 N'拿鐵熱咖啡(中)',
 N'美式冰咖啡(大)',
 N'優多綠茶',
 N'台灣青茶',
 N'拿鐵冰咖啡(大)',
 N'麥香紅茶ＴＰ３００',
 N'特級綠茶',
 N'四季春青茶-大',
 N'大熟成紅茶',
 N'極品菁茶',
 N'大 四季春茶',
 N'美式熱咖啡(中)',
 N'中熱拿鐵',
 N'古早味紅茶',
 N'*統一麥香奶茶TP300',
 N'*統一陽光無加糖高纖豆漿450ml盒',
 N'*PH9.0鹼性離子水PET800',
 N'*統一麥香紅茶TP300',
 N'*茶裏王日式綠茶PET600',
 N'*統一麥香綠茶TP300',
 N'*生活泡沬綠茶TP300',
 N'*台鹽海洋鹼性離子水PET850',
 N'*純喫茶紅茶650ml(盒)',
 N'*統一UNI-WATER純水PET550',
 N'*統一麥香奶茶TP375',
 N'*統一陽光陽光黃金豆豆漿450ml',
 N'*茶裏王白毫烏龍PET600',
 N'*黑松FIN健康補給飲料PET580',
 N'*舒跑運動飲料PET590',
 N'*統一陽光低糖高纖豆漿450ml(盒)',
 N'*純喫茶無糖綠茶650ml(盒)',
 N'*統一麥香紅茶TP375',
 N'*飲冰室茶集綠奶茶400ml(盒)',
 N'*瑞穗全脂鮮乳230ml',
 N'*純喫茶紅茶481ml(盒)',
 N'*茶裏王台式綠茶PET600',
 N'*原萃日式綠茶PET580',
 N'*統一陽光糙米漿450ml(盒)',
 N'*可口可樂PET600.',
 N'*原萃綠茶-玉露PET580',
 N'*瑞穗鮮乳290ml(盒)',
 N'*伯朗咖啡CAN240',
 N'*麥香阿薩姆奶茶PET600',
 N'*御茶園台灣四季春PET550',
 N'*純喫茶綠茶650ml(盒)',
 N'*多喝水PET700',
 N'*養樂多100cc',
 N'*保力達蠻牛維他命B飲料200ml',
 N'*iseLect多多綠茶650ml',
 N'*寶礦力水得PET580',
 N'*飲冰室茶集紅奶茶400ml(盒)',
 N'*iseLect拿鐵咖啡400ml',
 N'*瑞穗鮮乳-全脂鮮乳400ml(盒)',
 N'*養樂多300 LIGHT活菌發酵乳',
 N'*每朝健康-雙纖綠茶PET650',
 N'*每朝健康綠茶PET650',
 N'*Ice Walker冰塊',
 N'*韋恩特濃咖啡CAN320',
 N'*統一木瓜牛奶478ml(盒)',
 N'*純喫茶綠茶481ml(盒)',
 N'*純喫茶鮮柚綠茶650ml(盒)',
 N'*桂格100%喝的燕麥290ml',
 N'*御茶園特撰冰釀綠茶PET550',
 N'*泰山純水PET700',
 N'*麥香錫蘭奶茶PET600',
 N'*純喫茶檸檬紅茶650ml(盒)',
 N'*純喫茶無糖綠茶481ml(盒)',
 N'*貝納頌經典拿鐵咖啡290ml',
 N'*左岸咖啡館奶茶240ml(杯)',
 N'*AB原味優酪乳206ml(瓶)',
 N'*藍山咖啡CAN240',
 N'*愛之味健康油切分解茶PET590',
 N'*AB無加糖優酪乳PE206ml',
 N'*比菲多新纖順暢發酵乳340ml',
 N'*麥香阿薩姆紅茶PET600',
 N'*黑松沙士PET600',
 N'*舒跑鹼性離子水PET850',
 N'*(E)蜜蜂故事館蜂蜜檸檬水',
 N'*金牌啤酒330cc罐',
 N'*(E)蜜蜂故事館蜂蜜水',
 N'*原萃鐵觀音PET580',
 N'*咖啡廣場調合式冰咖啡PET600',
 N'*金牌台灣啤酒500ml罐',
 N'*紅牛能量飲CAN250ml',
 N'*咖啡廣場奶香特調咖啡PET600',
 N'*瑞穗低脂鮮乳290ml(盒)',
 N'*iseLect巧克力奶茶PET550ml',
 N'*(E)福樂鮮攪可可600ml',
 N'*(E)光泉鮮奶豆漿375ml',
 N'*iselect  H2O純水2.2L',
 N'*貝納頌經典曼特寧咖啡290ml',
 N'*可口可樂纖維+PET600',
 N'*瑞穗低脂鮮乳230ml',
 N'*瑞穗巧克力牛奶290ml',
 N'*純萃喝咖啡重乳拿鐵275ml',
 N'*瑞穗蘋果牛奶400ml',
 N'*原萃烏龍茶PET580',
 N'*光泉午后時光重乳奶茶400ml',
 N'*AB無加糖優酪乳PE517ml',
 N'*麒麟霸啤酒500cc罐',
 N'*瑞穗蘋果牛奶290ml',
 N'*瑞穗鮮乳-低脂鮮乳400ml(盒)',
 N'*AB原味優酪乳517ml(瓶)')
"""

In [8]:
df_drink_2 = pd.read_sql_query(drink_stmt,conn)

In [9]:
df_drink_all = pd.concat([df_drink, df_drink_2])

In [10]:
df_drink_all.shape

(2127544, 13)

In [11]:
sd = dt.datetime(2020,8,1)
df_drink_all['hist']=sd - df_drink_all['invoice_generatetime']
df_drink_all['hist'].astype('timedelta64[D]')
df_drink_all['hist']=round(df_drink_all['hist'] / np.timedelta64(1, 'D'),0)

In [12]:
df_drink_all.invoice_generatetime.max()

Timestamp('2020-08-20 09:59:49')

### Weather Data

In [15]:
weather_stmt = """
select * 
from datathon_mssql.dbo.weather13 with(nolock)
where 1=1

union all

select * 
from datathon_mssql.dbo.weather46 with(nolock)
where 1=1
"""

In [72]:
df_weather = pd.read_sql_query(weather_stmt,conn)

In [41]:
df_weather_copy = df_weather.copy()

In [56]:
df_weather = df_weather_copy.copy()

In [36]:
df_weather['city'] = df_weather['"縣市"'].str.strip('"')
df_weather.head()

,"""測站狀況""","""測站名稱""","""測站代碼""","""縣市""","""鄉鎮市區""","""海拔高度""","""測站類型""","""經度""","""緯度""","""時間""","""年份""","""月份""","""日期""","""小時""","""氣壓""","""溫度""","""相對濕度""","""平均風風速""","""平均風風向""","""降雨量""","""日照時數""",city
0,"""現存測站""","""泰平""","""C0A550""","""新北市""","""雙溪區""",422,"""自動氣象""",121.8237,24.9712,2020-01-08 02:00:00,2020,1,8,2,"""971.5""","""13.6""","""100""","""0""","""0""",0,-9999,新北市
1,"""現存測站""","""泰平""","""C0A550""","""新北市""","""雙溪區""",422,"""自動氣象""",121.8237,24.9712,2020-01-08 03:00:00,2020,1,8,3,"""972""","""13""","""100""","""0""","""0""",0,-9999,新北市
2,"""現存測站""","""泰平""","""C0A550""","""新北市""","""雙溪區""",422,"""自動氣象""",121.8237,24.9712,2020-01-08 04:00:00,2020,1,8,4,"""-9997""","""-9997""","""-9997""","""-9997""","""-9997""",0,-9999,新北市
3,"""現存測站""","""泰平""","""C0A550""","""新北市""","""雙溪區""",422,"""自動氣象""",121.8237,24.9712,2020-01-08 05:00:00,2020,1,8,5,"""973.2""","""13.3""","""100""","""0""","""0""",0,-9999,新北市
4,"""現存測站""","""泰平""","""C0A550""","""新北市""","""雙溪區""",422,"""自動氣象""",121.8237,24.9712,2020-01-08 06:00:00,2020,1,8,6,"""974.1""","""14.7""","""100""","""0.3""","""330""",0,-9999,新北市

In [57]:
#df_weather['"降雨量"'].dtype
df_weather = df_weather[~df_weather['"降雨量"'].str.contains('-')]
df_weather['"降雨量"'] = pd.to_numeric(df_weather['"降雨量"'],errors='coerce')

In [53]:
df_weather_group = df_weather.groupby(['city', '"時間"'])['"降雨量"'].mean().reset_index()

In [79]:
df_weather_group['weather'] = np.where(df_weather_group['"降雨量"'] > 5, 1, 0)
df_weather_group['hr'] = pd.to_datetime(df_weather_group['"時間"']).dt.hour
df_weather_group['date'] = pd.to_datetime(df_weather_group['"時間"']).dt.date

In [88]:
df_drink_all['address_new'] =df_drink_all.address.str.replace('\d+', '')
df_drink_all['city'] = df_drink_all.address_new.str[0:3]
df_drink_all['city'] = np.where(df_drink_all['city'] == '台北市', '臺北市', df_drink_all['city'])
df_drink_all['city'] = np.where(df_drink_all['city'] == '台中市', '臺中市', df_drink_all['city'])
df_drink_all['city'] = np.where(df_drink_all['city'] == '台南市', '臺南市', df_drink_all['city'])
df_drink_all['city'] = np.where(df_drink_all['city'] == '台東市', '臺東市', df_drink_all['city'])

df_drink_all['hr'] = pd.to_datetime(df_drink_all['invoice_generatetime']).dt.hour
df_drink_all['date'] = pd.to_datetime(df_drink_all['invoice_generatetime']).dt.date

In [89]:
df_merge = pd.merge(df_drink_all, df_weather_group, on=['city','date','hr'], how='left')
df_merge.weather.value_counts()

0.0    1271514
1.0      14886
Name: weather, dtype: int64

In [99]:
df_merge.shape

(1831638, 21)

In [90]:
df_rain = df_merge[df_merge.weather == 1]
df_no_rain = df_merge[df_merge.weather == 0]

#Rain

In [103]:
# all data
df_rain = df_rain[df_rain.invoice_generatetime <'2020-07-01']
rfmTable = df_rain.groupby('member_serial').agg({'hist': lambda x:x.min(), # Recency
                                        'member_serial': lambda x: len(x),               # Frequency
                                        'item_total': lambda x: x.sum()})          # Monetary Value

rfmTable.rename(columns={'hist': 'recency', 
                         'member_serial': 'frequency', 
                         'item_total': 'monetary_value'}, inplace=True)

In [119]:
df_3days = df_rain[df_rain.invoice_generatetime>='2020-06-28']
df_3days = df_3days[df_3days['hist']>0]

rfmTable_3days = df_3days.groupby('member_serial').agg({'hist': lambda x:x.min(), # Recency
                                        'member_serial': lambda x: len(x),               # Frequency
                                        'item_total': lambda x: x.sum()})          # Monetary Value

rfmTable_3days.rename(columns={'hist': 'recency', 
                         'member_serial': 'frequency', 
                         'item_total': 'monetary_value'}, inplace=True)

rfmTable_3days = rfmTable_3days.reset_index()

# 7 days
df_7days = df_rain[df_rain.invoice_generatetime>='2020-06-24']
df_7days = df_7days[df_7days['hist']>0]

rfmTable_7days = df_7days.groupby('member_serial').agg({'hist': lambda x:x.min(), # Recency
                                        'member_serial': lambda x: len(x),               # Frequency
                                        'item_total': lambda x: x.sum()})          # Monetary Value

rfmTable_7days.rename(columns={'hist': 'recency', 
                         'member_serial': 'frequency', 
                         'item_total': 'monetary_value'}, inplace=True)
rfmTable_7days = rfmTable_7days.reset_index()

# 14 days
df_14days = df_rain[df_rain.invoice_generatetime>='2020-06-17']
df_14days = df_14days[df_14days['hist']>0]

rfmTable_14days = df_14days.groupby('member_serial').agg({'hist': lambda x:x.min(), # Recency
                                        'member_serial': lambda x: len(x),               # Frequency
                                        'item_total': lambda x: x.sum()})          # Monetary Value

rfmTable_14days.rename(columns={'hist': 'recency', 
                         'member_serial': 'frequency', 
                         'item_total': 'monetary_value'}, inplace=True)

rfmTable_14days = rfmTable_14days.reset_index()

# 30 days
df_30days = df_rain[df_rain.invoice_generatetime>='2020-06-01']
df_30days = df_30days[df_30days['hist']>0]

rfmTable_30days = df_30days.groupby('member_serial').agg({'hist': lambda x:x.min(), # Recency
                                        'member_serial': lambda x: len(x),               # Frequency
                                        'item_total': lambda x: x.sum()})          # Monetary Value

rfmTable_30days.rename(columns={'hist': 'recency', 
                         'member_serial': 'frequency', 
                         'item_total': 'monetary_value'}, inplace=True)
rfmTable_30days = rfmTable_30days.reset_index()

In [120]:
rfmTable_30days.head()

,member_serial,recency,frequency,monetary_value
0,01d795666a0e4f43a208fc3d47edf2d94ad417c9,60.0,2,56.0
1,02540e537e8e2b6830f926a487a1a23c3fb13ca7,47.0,2,110.0
2,02e25547605b45dca16dff0ab7e04b58b81e2292,47.0,2,40.0
3,02ec28d40bef7ea8070c2dcedbd87cb8b255b29a,54.0,2,90.0
4,033c6315ca77444b4c4850d6d8d1ff044639e2a6,47.0,6,150.0

In [122]:
rfm_1 = pd.merge(rfmTable, rfmTable_3days[['member_serial','frequency', 'monetary_value']], on='member_serial', how='left')

rfm_2 = pd.merge(rfm_1, rfmTable_7days[['member_serial','frequency', 'monetary_value']], on='member_serial', how='left')
rfm_3 = pd.merge(rfm_2, rfmTable_14days[['member_serial','frequency', 'monetary_value']], on='member_serial', how='left')
rfm = pd.merge(rfm_3, rfmTable_30days[['member_serial','frequency', 'monetary_value']], on='member_serial', how='left')

rfm.shape

(2838, 12)

In [127]:
rfm.columns = ['member_serial',
 'recency',
 'frequency_lt',
 'monetary_value_lt',
 'frequency_3days',
 'monetary_value_3days',
 'frequency_7days',
 'monetary_value_7days',
 'frequency_14days',
 'monetary_value_14days',
 'frequency_30days',
 'monetary_value_30days']

In [130]:
rfm_cp = rfm.copy()
rfm_cp = rfm_cp.fillna(0)
rfm_cp.head()

,member_serial,recency,frequency_lt,monetary_value_lt,frequency_3days,monetary_value_3days,frequency_7days,monetary_value_7days,frequency_14days,monetary_value_14days,frequency_30days,monetary_value_30days
0,0002a4db595bbe07e63b89b6c039bd88013b6ddd,76.0,2,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0014b2b7729e0e2c133a2ad243ba3429017001d2,65.0,2,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,003ed961444ff4cd6108802fd3032e7f9d112bc9,144.0,2,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,003f066281191cef4d54cb2cfa82966c777e31c6,126.0,4,166.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,006aea55428c94cdb4f2bbad6e97ae35ae00e8d5,70.0,8,332.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# no rain

In [100]:
# all data
df_no_rain = df_no_rain[df_no_rain.invoice_generatetime <'2020-07-01']
rfmTable_no = df_no_rain.groupby('member_serial').agg({'hist': lambda x:x.min(), # Recency
                                        'member_serial': lambda x: len(x),               # Frequency
                                        'item_total': lambda x: x.sum()})          # Monetary Value

rfmTable_no.rename(columns={'hist': 'recency', 
                         'member_serial': 'frequency', 
                         'item_total': 'monetary_value'}, inplace=True)

In [131]:
df_3days = df_no_rain[df_no_rain.invoice_generatetime>='2020-06-28']
df_3days = df_3days[df_3days['hist']>0]

rfmTable_3days_no = df_3days.groupby('member_serial').agg({'hist': lambda x:x.min(), # Recency
                                        'member_serial': lambda x: len(x),               # Frequency
                                        'item_total': lambda x: x.sum()})          # Monetary Value

rfmTable_3days_no.rename(columns={'hist': 'recency', 
                         'member_serial': 'frequency', 
                         'item_total': 'monetary_value'}, inplace=True)

rfmTable_3days_no = rfmTable_3days_no.reset_index()


# 7 days
df_7days = df_no_rain[df_no_rain.invoice_generatetime>='2020-06-24']
df_7days = df_7days[df_7days['hist']>0]

rfmTable_7days_no = df_7days.groupby('member_serial').agg({'hist': lambda x:x.min(), # Recency
                                        'member_serial': lambda x: len(x),               # Frequency
                                        'item_total': lambda x: x.sum()})          # Monetary Value

rfmTable_7days_no.rename(columns={'hist': 'recency', 
                         'member_serial': 'frequency', 
                         'item_total': 'monetary_value'}, inplace=True)

rfmTable_7days_no = rfmTable_7days_no.reset_index()

# 14 days
df_14days = df_no_rain[df_no_rain.invoice_generatetime>='2020-06-17']
df_14days = df_14days[df_14days['hist']>0]

rfmTable_14days_no = df_14days.groupby('member_serial').agg({'hist': lambda x:x.min(), # Recency
                                        'member_serial': lambda x: len(x),               # Frequency
                                        'item_total': lambda x: x.sum()})          # Monetary Value

rfmTable_14days_no.rename(columns={'hist': 'recency', 
                         'member_serial': 'frequency', 
                         'item_total': 'monetary_value'}, inplace=True)

rfmTable_14days_no = rfmTable_14days_no.reset_index()

# 30 days
df_30days = df_no_rain[df_no_rain.invoice_generatetime>='2020-06-01']
df_30days = df_30days[df_30days['hist']>0]

rfmTable_30days_no = df_30days.groupby('member_serial').agg({'hist': lambda x:x.min(), # Recency
                                        'member_serial': lambda x: len(x),               # Frequency
                                        'item_total': lambda x: x.sum()})          # Monetary Value

rfmTable_30days_no.rename(columns={'hist': 'recency', 
                         'member_serial': 'frequency', 
                         'item_total': 'monetary_value'}, inplace=True)

rfmTable_30days_no = rfmTable_30days_no.reset_index()

In [132]:
rfmTable_no.shape

(44713, 3)

In [136]:
rfm_no_1 = pd.merge(rfmTable_no, rfmTable_3days_no[['member_serial','frequency', 'monetary_value']], on='member_serial', how='left')
rfm_no_2 = pd.merge(rfm_no_1, rfmTable_7days_no[['member_serial','frequency', 'monetary_value']], on='member_serial', how='left')
rfm_no_3 = pd.merge(rfm_no_2, rfmTable_14days_no[['member_serial','frequency', 'monetary_value']], on='member_serial', how='left')
rfm_no = pd.merge(rfm_no_3, rfmTable_30days_no[['member_serial','frequency', 'monetary_value']], on='member_serial', how='left')

rfm_no.shape

(44713, 12)

In [135]:
rfm_no.head()

,member_serial,recency_x,frequency_x,monetary_value_x,recency_y,frequency_y,monetary_value_y,recency_x,frequency_x,monetary_value_x,recency_y,frequency_y,monetary_value_y,recency,frequency,monetary_value
0,0002261222d87a3eb7f257d0ab12e2b722d3d052,35.0,48,2326.0,NaN,NaN,NaN,35.0,4.0,206.0,35.0,6.0,296.0,35.0,14.0,656.0
1,0002a4db595bbe07e63b89b6c039bd88013b6ddd,47.0,38,1398.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,4.0,130.0
2,0002e33fbfc6830bb2bba7e19944ad96414efe51,57.0,30,968.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,10.0,212.0
3,0004d02292debb8cd27c409891538863c13820c6,115.0,18,632.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000721b0ca6d13344cbca062b3ea8d28e1095a30,31.0,24,886.0,31.0,2.0,100.0,31.0,4.0,178.0,31.0,6.0,256.0,31.0,10.0,356.0

In [137]:
rfm_no.columns = ['member_serial',
 'recency',
 'frequency_lt',
 'monetary_value_lt',
 'frequency_3days',
 'monetary_value_3days',
 'frequency_7days',
 'monetary_value_7days',
 'frequency_14days',
 'monetary_value_14days',
 'frequency_30days',
 'monetary_value_30days']

In [138]:
rfm_no_cp = rfm_no.copy()
rfm_no_cp = rfm_no_cp.fillna(0)
rfm_no_cp.head()

,member_serial,recency,frequency_lt,monetary_value_lt,frequency_3days,monetary_value_3days,frequency_7days,monetary_value_7days,frequency_14days,monetary_value_14days,frequency_30days,monetary_value_30days
0,0002261222d87a3eb7f257d0ab12e2b722d3d052,35.0,48,2326.0,0.0,0.0,4.0,206.0,6.0,296.0,14.0,656.0
1,0002a4db595bbe07e63b89b6c039bd88013b6ddd,47.0,38,1398.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,130.0
2,0002e33fbfc6830bb2bba7e19944ad96414efe51,57.0,30,968.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,212.0
3,0004d02292debb8cd27c409891538863c13820c6,115.0,18,632.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,000721b0ca6d13344cbca062b3ea8d28e1095a30,31.0,24,886.0,2.0,100.0,4.0,178.0,6.0,256.0,10.0,356.0

In [59]:
sum(df_drink_all.address.isnull())
df_drink_all = df_drink_all[~df_drink_all.address.isnull()]

In [159]:
rfm_no_cp.shape

(44713, 12)

In [166]:
rfm_no_cp[rfm_no_cp['member_serial']=="0002a4db595bbe07e63b89b6c039bd88013b6ddd"]

,member_serial,recency,frequency_lt,monetary_value_lt,frequency_3days,monetary_value_3days,frequency_7days,monetary_value_7days,frequency_14days,monetary_value_14days,frequency_30days,monetary_value_30days
1,0002a4db595bbe07e63b89b6c039bd88013b6ddd,47.0,38,1398.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,130.0

In [169]:
rfm_cp[rfm_cp['member_serial']=="00afa692f8d9541db020bea9235a5ee982456608"]

,member_serial,recency,frequency_lt,monetary_value_lt,frequency_3days,monetary_value_3days,frequency_7days,monetary_value_7days,frequency_14days,monetary_value_14days,frequency_30days,monetary_value_30days
9,00afa692f8d9541db020bea9235a5ee982456608,65.0,4,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [161]:
rfm_no_cp.to_csv('D:\DataAnalysis\drink_good_rfm.csv',index=False)

In [160]:
rfm_cp.shape

(2838, 12)

In [162]:
rfm_cp.to_csv('drink_bad_rfm.csv',index=False)

In [53]:
df_drink_all.city.unique()

array(['台北市', '新北市', '南投縣', '\n  ', '新竹市', '花蓮縣', '高雄市', '台南市', '桃園市',
       '台中市', ' 高雄', '   ', '雲林縣', '新竹縣', '金門縣', '基隆市', ' 臺南', '彰化縣',
       '嘉義縣', '屏東縣', '臺北市', '臺中市', '嘉義市', '宜蘭縣', '臺南市', '苗栗縣', ' 雲林',
       '台東縣', '澎湖縣', ' 彰化', ' 屏東', '南投市', '桃園縣', ' 臺中', ' 南投', '彰化市',
       '連江縣', ' 嘉義', '臺東縣', '屏東市', '員林市', '苗栗市', ' 臺東', '台中縣', '\u3000台北',
       '高雄巿', '新北巿', ']台北', '北市內', '馬公市', '台東市', '營業地', '桃園區', '桃園巿'],
      dtype=object)

In [65]:
df_drink_all['city'] = df_drink_all.address_new.str[0:3]

In [69]:
df_drink_all.groupby('city').address.count().sort_values(ascending=False)

city
新北市     281094
台北市     272292
台中市     235824
桃園市     201738
高雄市     199666
台南市     168168
\n      116758
彰化縣      61528
新竹市      51764
新竹縣      48628
屏東縣      42854
苗栗縣      35872
宜蘭縣      35142
雲林縣      34032
南投縣      31240
嘉義縣      28960
         24236
花蓮縣      23676
基隆市      22234
嘉義市      19434
 高雄      17604
台東縣      16610
澎湖縣      12806
 臺南      12668
臺南市       9966
臺中市       7290
臺北市       6440
金門縣       4874
 屏東       2820
 臺中       1554
連江縣       1548
 嘉義        976
 雲林        926
彰化市        654
桃園縣        614
 彰化        422
屏東市        402
苗栗市        334
南投市        266
 南投        248
馬公市        208
臺東縣        122
員林市         98
 臺東         72
台中縣         62
台東市         28
北市內         26
高雄巿         26
新北巿         16
　台北          6
營業地          6
]台北          4
桃園巿          2
桃園區          2
Name: address, dtype: int64

df_drink_all.address.head()